.button {
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
}

.icon-button {
    outline: none;
    border: none;
    cursor: pointer;
    background: transparent;
}

.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;

    &__content {
        background: #fff;
        padding: 16px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%),
            0px 11px 15px -7px rgb(0 0 0 / 20%);
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #cccccc45;
    z-index: 10;
}

.popup {
    &__content {
        position: absolute;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 8px;
        min-height: 200px;
        width: 400px;
        box-shadow: 0px 24px 38px 3px rgb(0 0 0 / 14%), 0px 9px 46px 8px rgb(0 0 0 / 12%),
            0px 11px 15px -7px rgb(0 0 0 / 20%);
    }

    &__description {
        padding: 0 15px 15px;
    }

    &__error {
        color: #ff0000;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 700;
        color: #1a73e8;
        margin-bottom: 10px;
        word-break: break-all;
    }

    &__event {
        margin-bottom: 8px;
    }

    &__text {
        word-break: break-all;
    }

    &__buttons {
        display: flex;
        justify-content: end;
    }

    &__btn {
        background-color: transparent;
        padding: 16px;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }
}

.hidden {
    display: none;
}

.current-time {
    position: absolute;
    width: 100%;
    z-index: 3;

    &__line {
        width: 100%;
        background-color: #ff0000;
        height: 3px;
        position: absolute;
    }
    &__circle {
        width: 10px;
        top: -4px;
        left: -5px;
        background-color: #ff0000;
        position: absolute;
        border-radius: 50%;
        height: 10px;
    }
}
