@import "page.scss";
@import "common.scss";
@import "navigation.scss";
@import "calendar.scss";
@import "timescale.scss";
@import "create-event.scss";
@import "event.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-size: 18px;
    font-family: "Roboto", sans-serif;
}
